@media print {
  body{
    font-size: $min-fontSize-rem !important;
    .teaser{
      font-size: $min-teaserSize-rem !important;
    }
    .kleiner-text{
      font-size: $min-linkSize-rem !important;
    }
    h1{
      font-size: $min-h1Size-rem !important;
    }
    h2{
      font-size: $min-h2Size-rem !important;
    }
    h3{
      font-size: $min-h3Size-rem !important;
    }
    .no-print{
      display: none !important;
    }
    .wow{
      visibility: visible !important;
    }
    #header{
      position: relative !important;
      .linker-header{
        .mobile-opener{
          display: none!important;
        }
        .suche {
          display: none !important;
        }
        .barrierefrei-buttons{
          display: none!important;
        }
      }
    }
    #mobile-menu, .mobile-menu{
      display: none!important;
    }
    .custom{
      margin-top: 0!important;
    }
    #kopfbild{
    }
    #main{

    }
    .ce_comments{
      .form{
        display: none !important;
      }
    }
    #footer{
      #meta-nav{
        display: none!important;
      }
    }
  }
}
