@mixin mobile-opener ($height-line: 5px, $height-icon: 26px,$width-line: 40px,$transition-time: 0.4s, $scale-line: (2/3)){
  cursor: pointer;
  display: flex;
  .hamburger-icon-container {
    display: block;
    .hamburger-icon-container-inner{
      width: fit-content;
    }
    .hamburger-icon {
      height: $height-icon;
      width: $width-line;
      position: relative;
      display: block;
      border-bottom: none;
      margin-bottom: $height-line;

      .line {
        display: block;
        background: $color1;
        height: $height-line;
        width: 100%;
        position: absolute;
        left: 0;
        transition: all $transition-time;

        &.line-1,&.line-3 {
          transform: scaleX($scale-line);
        }

        &.line-1 {
          top: 0;
          transform-origin: left;
        }

        &.line-2 {
          top: 50%;

        }

        &.line-3 {
          top: 100%;
          transform-origin: left;
        }
      }
    }

    &:hover,&:focus {
        .hamburger-icon{
          .line-1,.line-3 {
            transform: scaleX(1);
          }
        }
    }
  }

}
.mobile-opener {
  @include mobile-opener;
  .hamburger-icon-container{
    >p{
      @include transition($affects:color);
      color: $color2;
    }
    &:hover, &:focus{
      >p{
        color: $color1;
      }
    }
    @include button-push-inner();
    >p{
      transform: none !important;
    }
  }
}