#startseiten-slider {
  .rsts-view{
    height: 100%!important;
    .rsts-crop{
      height: 100% !important;
      background: linear-gradient(90deg, alpha($black, 0.4) 60%, rgba(0,0,0,0) 100%);
      .rsts-slides{
        height: 100% !important;
        .rsts-slide{
          height: 100% !important;
        }
      }
    }
  }
  .rsts-slide {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .ce_text {
      overflow: visible;
      margin-left: 10vw;
      max-width: 70vw;
      
      >*{
        font-size: $h3Size;
        font-family: $font1;
        margin-bottom: 0.5rem;
      }

      h2 {
        border-radius: 2px;
        min-width: 40vw;
        position: relative;
        color: $white;

        &:before {
          position: absolute;
          $position: calc(-2.5rem - 10px);
          top: $position;
          left: $position;
          width: 5rem;
          height: 5rem;
        }
      }

      p {
        width: fit-content;
        color: $white;
        padding: $abstandElemente;
        &:nth-of-type(1){
          margin-left: 15vw;
        }
        &:nth-of-type(2){
          margin-left: 12.5vw;
        }
      }
    }
  }
  @media all and (max-width: $break3) {
    .rsts-slide{
      .ce_text{
        margin-left: calc(#{$abstandAussen} + 2vw);
      }
    }
  }
  @media all and (max-width: $break2) {
    .rsts-slide{
      .ce_text{
        max-width: 80vw ;
        p:first-of-type{
          margin-left: 5vw;
        }
      }
    }
  }
  .rsts-nav{
    &-bullets{
      right: 0;
      left: 0;
      bottom: 20px;
      text-align: center;
      ul{
        .rsts-nav-item{
          a{
            border-radius: 0;
            outline: none;
            border: none;
            background-repeat: no-repeat;
            width: 1.5rem;
            height: 1.5rem;
            margin: 10px;
            box-shadow: none;
            filter: drop-shadow($shadow);
            background-color: transparent;
            svg{
              @include transition($time: 1500ms);
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              fill: $white;
            }
            &.active{
              svg{
                fill: $color1;
              }
            }
            &:not(.active){
              @include button-push();
              @include transition();
              &:hover{
                svg{
                  fill: lightness($color1, 45%);
                }
              }
            }
          }
        }
      }
    }
  }
}