.mod_catalogUniversalView {
  &.referenzen-filter-container {
    overflow: visible;

    .ctlg_view_ {
      &teaser_refFilter {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .ctlg_teaser {
          overflow: visible;
          width: 16%;

          .referenzen-filter {
            @include transition();
            height: 140px;
            text-align: center;
            margin: 1px;
            padding: 2rem 1rem;
            position: relative;
            border: 1px solid $color1;
            background-color: $white;
            cursor: pointer;
            @include hover-height(5px, $activator:"&:hover, &:focus, &.active");

            &:before {
              @include transition();
              content: "";
              position: absolute;
              width: 100%;
              height: 100%;
              top: 0;
              left: 0;
              background-color: $white;
              z-index: 3;
            }

            &:after {
              content: "";
              @include transition();
              display: block;
              height: 35px;
              width: 35px;
              background-color: $white;
              position: absolute;
              bottom: 7px;
              transform: rotate(45deg);
              border-right: 1px solid;
              border-bottom: 1px solid;
              border-color: $color1;
              z-index: 2;
              right: calc(50% - 18px);
            }

            &:hover, &:focus, &.active {
              z-index: 1;
              &:after {
                bottom: -19px;
              }
            }

            &:active, &.active {
              background-color: $color1;

              &:before, &:after {
                background-color: $color1;
              }

              .image_container {
                svg {
                  fill: $white;
                }
              }

              .title {
                color: $white;
              }
            }
          }

          .image_container {
            margin: auto;
            width: 50px;
            height: 55px;
            display: flex;
            align-items: center;
            position: relative;
            z-index: 4;

            svg {
              @include transition();
              width: 100%;
              fill: $color1;
            }
          }

          .title {
            @include transition();
            position: relative;
            font-weight: 600;
            color: $color2;
            z-index: 4;
          }
        }
        @media all and (max-width: $break3){
          .ctlg_teaser{
            width: 20%;
          }
        }
        @media all and (max-width: $break2) {
          justify-content: center;
          .ctlg_teaser {
            width: (100% / 3);
          }
        }
        @media all and (max-width: $break2) {
          justify-content: center;
          .ctlg_teaser {
            width: (100% / 3);
            .referenzen-filter {
              height: 100px;
              padding: 0.4rem;
              .image_container{
                width: 40px;
                height: 45px;
              }
              .title{
                line-height: 1.3;
              }
            }
          }
        }
      }
    }
  }
}