.mod_newslist{
  h2{
    &:before{
      content: "+";
      color: $color1;
      margin-right: 0.25em;
    }
  }
  .news-content{
    @include news-list();
    a{
      color: $fontColor;
      margin-bottom: 1rem;
      .image_container{
        width: 100%;
        &.no-image{
          padding-top: 50%;
          background-image: url("/files/layout/images/mz-platzhalter.jpg");
          background-size: contain;
        }
      }
      .more-container{
        margin-bottom: 0;
        font-size: $linkSize;
      }
      &:hover, &:focus{
        color: $color1;
      }
    }
  }
}
.layout_full{
  max-width: 900px;
  .breadcrumb{
    margin-bottom: 5rem;
  }
}

.blog-headline{
  font-weight: 600;
  font-size: calc(#{$h1Size} * 1.5);
}