.mod_catalogUniversalView {
  .ctlg_view_ {
    &teaser_zahlen {
      display: flex;
      justify-content: center;

      .ctlg_teaser {
        margin-right: 8%;

        &:last-of-type {
          margin-right: 0;
        }
      }

      .zahlen-container {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 150px;
        height: 150px;
        margin: auto;

        .background {
          border-radius: 50%;
          width: 0;
          height: 0;
          background-color: $color1;
          position: absolute;
        }

        .zahl {
          position: relative;
          color: $white;
          font-size: calc(#{$h1Size} * 1.5);
          font-weight: 700;
        }
      }

      .text-container {
        margin: 1rem auto 0;

        div {
          text-align: center;
          font-size: $linkSize;
          width: 150px;
        }
      }
    }
  }
}