.mod_catalogUniversalView {
  .ctlg_view_ {
    &teaser_zahlen {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      .ctlg_teaser {
        width: 25%;

        &:last-of-type {
          margin-right: 0;
        }
      }

      .zahlen-container {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 150px;
        height: 150px;
        margin: auto;

        .background {
          border-radius: 50%;
          width: 0;
          height: 0;
          background-color: $color1;
          position: absolute;
        }

        .zahl {
          position: relative;
          color: $white;
          font-size: calc(#{$h1Size} * 1.5);
          font-weight: 700;
        }
      }

      .text-container {
        margin: 1rem auto 0;
        display: flex;
        justify-content: center;

        div {
          text-align: center;
          font-size: $linkSize;
          width: 150px;
        }
      }
    }
  }

  @media all and (max-width: $break2) {
    .ctlg_view_ {
      &teaser_zahlen {
        .ctlg_teaser{
          margin-bottom: 1rem;
          width: 50%;
        }
      }
    }
  }
  @media all and (max-width: $break1){
    .ctlg_view_ {
      &teaser_zahlen {
        .ctlg_teaser{
          .zahlen-container{
            width: 100px;
            height: 100px;
            .zahl{
              font-size: $h1Size;
            }
          }
        }
      }
    }

  }
}