.mod_catalogUniversalView{
  .ctlg_view_{
    &teaser{
    }
  }
}

.mod_catalogMasterView{
  grid-column: 1/15;
  .ctlg_master{
    .head{
      #kopfbild{
        margin-bottom: 0;
      }
      position: relative;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
      margin-bottom: $abstandArtikel;
      .kunde-title{
        background-color: alpha($white, 0.5);
        width: 60%;
        padding: $abstandElemente;
        position: absolute;
        @media all and (max-width: $break1){
          width: 100%;
        }
        h1{
          font-weight: 600;
        }
      }
    }
    .catalog_master_content{
      @include grid();
      >*{
        grid-column: 2/14;
      }
    }
  }
}