// CSS Stile für Backend-Auswahl
.teaser{
  font-size: $teaserSize;
}
.kleiner-text{
  font-size: $linkSize;
}
.zweispaltig{
  columns: 2;
  display: block;
  column-gap: 1rem;
  @media all and (max-width: $break1){
    columns: 1;
  }
}
.rot{
  color: $color1;
}
.horizontal-zentriert{
  text-align: center;
}
.vertikal-unten{
  display: flex !important;
  align-items: flex-end !important;
}
.mehr-abstand-elemente{
  margin-bottom: (3 * $abstandElemente) !important;
}
.mehr-abstand-artikel{
  margin-bottom: (2 * $abstandArtikel) !important;
}
.kundenstimmen{
  display: flex;
  align-items: center;
  &:before{
    content: "+";
    font-size: calc(#{$h1Size} * 2);
    margin: 0 3rem;
  }
}
.kein-abstand-unten-artikel{
  margin-bottom: 0 !important;
}