//// Farben für barrierefreiheit

body{
  --font-color: #343434;
  --color1: #A1C740;
  --color2: #8FBE31;
  --color3: #34A84C;
  --color4: #A4D9F7;
  --color5: #41c1f0;
  --color6: #FDFFEB;
  --color7: #C4D400;
  --black: #000;
  --black-50: rgba(0,0,0,0.5);
  --white: #FFF;
  --white-50: rgba(255,255,255,0.5);
  --grey: #EFEFEF;
}