
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////// Berechnungen //////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////
/////////// Schriftgrößen ////////////
//////////////////////////////////////
/////////// Fließtext ///////////
$max-fontSize-rem-base: ($max-fontSize / 16);
$max-fontSize-rem: #{$max-fontSize-rem-base}rem;
$min-fontSize-rem-base: ($min-fontSize / 16);
$min-fontSize-rem: #{$min-fontSize-rem-base}rem;
$fontSize: calc(#{$min-fontSize}px + (#{$max-fontSize} - #{$min-fontSize}) * ((100vw - 320px) / (1600 - 300)));
/////////// Teasertext ///////////
$max-teaserSize-rem-base: ($max-teaserSize / 16);
$max-teaserSize-rem: #{$max-teaserSize-rem-base}rem;
$min-teaserSize-rem-base: ($min-teaserSize / 16);
$min-teaserSize-rem: #{$min-teaserSize-rem-base}rem;
$teaserSize: calc(#{$min-teaserSize}px + (#{$max-teaserSize} - #{$min-teaserSize}) * ((100vw - 320px) / (1600 - 300)));
/////////// Link ///////////
$max-linkSize-rem-base: ($max-linkSize / 16);
$max-linkSize-rem: #{$max-linkSize-rem-base}rem;
$min-linkSize-rem-base: ($min-linkSize / 16);
$min-linkSize-rem: #{$min-linkSize-rem-base}rem;
$linkSize: calc(#{$min-linkSize}px + (#{$max-linkSize} - #{$min-linkSize}) * ((100vw - 320px) / (1600 - 300)));
/////////// Überschriften ///////////
////// h1 //////
$max-h1Size-rem-base: ($max-h1Size / 16);
$max-h1Size-rem: #{$max-h1Size-rem-base}rem;
$min-h1Size-rem-base: ($min-h1Size / 16);
$min-h1Size-rem: #{$min-h1Size-rem-base}rem;
$h1Size: calc(#{$min-h1Size}px + (#{$max-h1Size} - #{$min-h1Size}) * ((100vw - 320px) / (1600 - 300)));
////// h2 //////
$max-h2Size-rem-base: ($max-h2Size / 16);
$max-h2Size-rem: #{$max-h2Size-rem-base}rem;
$min-h2Size-rem-base: ($min-h2Size / 16);
$min-h2Size-rem: #{$min-h2Size-rem-base}rem;
$h2Size: calc(#{$min-h2Size}px + (#{$max-h2Size} - #{$min-h2Size}) * ((100vw - 320px) / (1600 - 300)));
////// h3 //////
$max-h3Size-rem-base: ($max-h3Size / 16);
$max-h3Size-rem: #{$max-h3Size-rem-base}rem;
$min-h3Size-rem-base: ($min-h3Size / 16);
$min-h3Size-rem: #{$min-h3Size-rem-base}rem;
$h3Size: calc(#{$min-h3Size}px + (#{$max-h3Size} - #{$min-h3Size}) * ((100vw - 320px) / (1600 - 300)));
////// h4 //////
$max-h4Size-rem-base: ($max-h4Size / 16);
$max-h4Size-rem: #{$max-h4Size-rem-base}rem;
$min-h4Size-rem-base: ($min-h4Size / 16);
$min-h4Size-rem: #{$min-h4Size-rem-base}rem;
$h4Size: calc(#{$min-h4Size}px + (#{$max-h4Size} - #{$min-h4Size}) * ((100vw - 320px) / (1600 - 300)));
////// h5 //////
$max-h5Size-rem-base: ($max-h5Size / 16);
$max-h5Size-rem: #{$max-h5Size-rem-base}rem;
$min-h5Size-rem-base: ($min-h5Size / 16);
$min-h5Size-rem: #{$min-h5Size-rem-base}rem;
$h5Size: calc(#{$min-h5Size}px + (#{$max-h5Size} - #{$min-h5Size}) * ((100vw - 320px) / (1600 - 300)));
////// h6 //////
$max-h6Size-rem-base: ($max-h6Size / 16);
$max-h6Size-rem: #{$max-h6Size-rem-base}rem;
$min-h6Size-rem-base: ($min-h6Size / 16);
$min-h6Size-rem: #{$min-h6Size-rem-base}rem;
$h6Size: calc(#{$min-h6Size}px + (#{$max-h6Size} - #{$min-h6Size}) * ((100vw - 320px) / (1600 - 300)));

