.ce_gallery {
  @include gallery-flex();
  figure{
  }
  &.kunden-logos{
    @include gallery-flex($abstand: 40%, $abstandRow: 40%);
    img{
      @include transition();
      filter: grayscale(1);
    }
    a{
      &:hover, &:focus{
        img{
          filter: none;
        }
      }
    }
    @media all and (max-width: $break1){
      padding: 0 1rem;
    }
  }
}