.start-vorschau{
  @include transition();
  &-links, &-rechts{
    $pfeilSize:45px;
    $pfeilWidth:0;
    position: relative;
    overflow: visible;
    .image_container{
      position: relative;
      overflow: hidden;
      z-index: 1;
      margin-bottom: 36px;
      cursor: pointer;
      transition: 0.3s ease;
      transition-property: transform, filter;
      figure{
        margin-bottom: 0;
      }
      svg{
        @include transition();
        fill: $color1;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 25%;
        g{
          @include transition();
        }
      }
      &:hover, &.active{
        svg{
          g{
            transform: translate(38%, 38%);
          }
        }
      }
    }
    .text{
      display: none;
      position: absolute;
      background-color: $white;
      border: 1px solid $color1;
      min-width: 100%;
      max-width: 70vw;
      width: 600px;
      padding: 2rem 1rem;
      z-index: 20;
      transition-duration: 0.4s;
      transition-timing-function: ease;
      transition-property: transform, filter;
      transform: translateY(4px);
      &.active{
        transform: translateY(-4px);
      }
      &:before{
        content: "";
        display: block;
        height: 100%;
        width: 100%;
        background: $white;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
      }
      &:after{
        content: "";
        @include transition();
        display: block;
        height: $pfeilSize;
        width: $pfeilSize;
        background-color: $white;
        border: 1px solid $color1;
        position: absolute;
        top: -($pfeilSize / 2);
        transform: rotate(45deg) skew(#{$pfeilWidth}deg, #{$pfeilWidth}deg);
        z-index: 2;
      }
      >*{
        position: relative;
        z-index: 3;
      }
      a{
        @include link($colorOnly:true)
      }
    }
  }
  &-links{
    .text{
      left: 0;
      &:after{
        left: calc(10%  - 18px);
      }
    }
  }
  &-rechts{
    .text{
      right: 0;
      &:after{
        right: calc(10%  - 18px);
      }
    }
  }
  &:not(.team-mitglied){
    @media all and (max-width: $break2)  {
      &.start-vorschau-links, &.start-vorschau-rechts{
        width: 130%;
      }
      &.start-vorschau-rechts{
        margin-left: -30%;
      }
    }
    @media all and (max-width: $break1)  {
      &.start-vorschau-links, &.start-vorschau-rechts{
        margin-top: -6rem;
        width: 100%;
        .image_container{
          width: 70%;
        }
      }
      &.start-vorschau-rechts{
        margin-left: 0;
        .image_container{
          margin-left: auto;
        }
      }
      &.start-vorschau-links{
        .image_container{
          margin-right: auto;
        }
      }
    }
  }
}