.ce_swiperStart{
  .textblock{
    .text{
      background: $color1;
    }
    *:not(a){
      color: $white;
    }
    a{
      @include link($color:lightness($color1, 45%),$colorHover:$white, $border:true)
    }
  }
  &.linear{
    .swiper-wrapper{
      transition-timing-function: linear;
    }
  }
  &.ease{
    .swiper-wrapper{
      transition-timing-function: ease;
    }
  }
  &.ease-in-out{
    .swiper-wrapper{
      transition-timing-function: ease-in-out;
    }
  }
  .ce_text{
    height: auto;
  }
  &.hervorgehoben{
    .swiper-slide{
      transition: transform 15s linear;
      &-active, &-duplicate-active{
        transform: scale(1.5);
        position: relative;
        z-index: 2;
      }
    }
  }
  &.referenzen-slider{
    padding: (2 * $abstandElemente) 0;
    background-color: $color1;
    .ce_image.swiper-slide{
      overflow: visible;
      figure{
        overflow: visible;
      }
      img{
        box-shadow: $shadow;
      }
    }
    *:not(a){
      color:$white;
    }
    a{
      @include link($color:lightness($color1, 45%),$colorHover:$white, $border:true)
    }
  }
  &.verschiedene-breiten{
    *{
      width: fit-content;
    }
  }
}