.start-vorschau{
  @include transition();
  &-links, &-rechts{
    $pfeilSize:45px;
    $pfeilWidth:0;
    position: relative;
    overflow: visible;
    .image_container{
      position: relative;
      overflow: hidden;
      margin-bottom: 36px;
      filter: drop-shadow($shadow);
      cursor: pointer;
      transition: 0.3s ease;
      transition-property: transform, filter;
      figure{
        margin-bottom: 0;
      }
      svg{
        @include transition();
        fill: $color1;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 5rem;
        height: 5rem;
      }
      &:hover, &.active{
        svg{
          $position: calc(-1rem - 14px);
          bottom: $position;
          right: $position;
        }
      }
    }
    .text{
      display: none;
      position: absolute;
      background-color: $white;
      border: 1px solid $color1;
      width: 150%;
      padding: 2rem 1rem;
      z-index: 3;
      filter: drop-shadow($shadow);
      transition-duration: 0.4s;
      transition-timing-function: ease;
      transition-property: transform, filter;
      transform: translateY(4px);
      &.active{
        transform: translateY(-4px);
      }
      &:before{
        content: "";
        display: block;
        height: 100%;
        width: 100%;
        background: $white;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
      }
      &:after{
        content: "";
        @include transition();
        display: block;
        height: $pfeilSize;
        width: $pfeilSize;
        background-color: $white;
        border: 1px solid $color1;
        position: absolute;
        top: -($pfeilSize / 2);
        transform: rotate(45deg) skew(#{$pfeilWidth}deg, #{$pfeilWidth}deg);
        z-index: 2;
      }
      >*{
        position: relative;
        z-index: 3;
      }
      a{
        @include link()
      }
    }
  }
  &-links{
    .text{
      left: 0;
      &:after{
        left: calc(10%  - 18px);
      }
    }
  }
  &-rechts{
    .text{
      right: 0;
      &:after{
        right: calc(10%  - 18px);
      }
    }
  }
}